body {
	background: url(../img/grey.png);
}

#jumbotron-principal {
	height: 100vh;
	background: url(../img/jumbo.jpg);
	background-size: 100% 100%;
	color: white; 
	text-shadow: 3px 3px 5px #555;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
}

#jumbotron-principal button.btn {
	text-shadow: none;
}

.lobster-font {
	font-family: 'Lobster', cursive;
}

.panel-fixed-size-comment {
	height: 180px;
}

.panel-fixed-size-product {
	height: 140px;
}

.container-margin {
	margin-top: 70px;
}

.list-fixed{
	position: relative;
top: -15px;
}