<br>
<br>
<br>
<div class="container">
	<div class="col-md-3" >
		<div class="form-group">
			<label for="votatedForm">Producto/Servicio</label>
			<input class="form-control" id="votatedForm" type="text" ng-model="votated" placeholder="Producto/Servicio">
		</div>
		<div class="form-group">
			<label for="starsForm">Estrellas</label>
			<input class="form-control" id="starsForm" type="number" min="0" max="5" ng-model="stars" placeholder="Estrellas">
		</div>
		<div class="form-group">
			<label for="commentForm">Comentario</label>
			<textarea class="form-control" name="comment" id="commentForm" cols="30" rows="5" ng-model="comment"></textarea>
		</div>
		<div class="form-group">
			<label for="dateForm">Fecha</label>
			<input class="form-control" id="dateForm" type="text" ng-model="date" placeholder="Fecha">
		</div>
		<div class="form-group">
			<label for="comentatorForm">Comentarista</label>
			<input class="form-control" id="comentatorForm" type="text" ng-model="comentator" placeholder="Comentarista">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-warning btn-block">Comentar</button>
		</div>
	</div>
	<div class="col-md-9">
		<h1>Comentarios</h1>

		<!-- Muestra en caso de que el input "votated" no esté vacío -->
		<div ng-show="votated || stars || comment" class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">Product/Service: {{votated}}</h3>
				</div>
				<div class="panel-body panel-fixed-size">
					<span>Stars: </span><meter value='{{stars}}' min=0 max=5>{{stars}}</meter>
					<p>Comment: {{comment}}</p>
					<span>Date: {{date}}</span>
				</div>
				<div class="panel-footer"><footer>Comentador: {{comentator}}</footer></div>
			</div>
		</div>

		<!-- Listado de comentarios en el arreglo -->
		<div ng-repeat="item in data | orderBy:'-date'" class="col-md-6">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Product/Service: {{item.votated}}</h3>
				</div>
				<div class="panel-body panel-fixed-size">
					<span>Stars: </span><meter value='{{item.stars}}' min=0 max=5>{{item.stars}}</meter>
					<p>Comment: {{item.comment}}</p>
					<span>Date: {{item.date}}</span>
				</div>
				<div class="panel-footer"><footer>Comentador: {{item.comentator}}</footer></div>
			</div>
		</div>
	</div>
</div>