<div class="container container-margin">
	<div class="col-md-3" >
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Agregar Comentario
			</div>
			<div class="panel-body">
				<form name="comentarioForm">
					<div class="form-group">
						<label for="votatedForm">Producto/Servicio</label>
						<input class="form-control" id="votatedForm" type="text" ng-model="votated" placeholder="Producto/Servicio" required>
					</div>
					<div class="form-group">
						<label for="starsForm">Estrellas</label>
						<!--input class="form-control" id="starsForm" type="number" min="0" max="5" ng-model="stars" placeholder="Estrellas" required-->
						<div class="text-center">
							<span class="star-rating">
							  <input type="radio" name="starForm" value="1" ng-model="stars"><i></i>
							  <input type="radio" name="starForm" value="2" ng-model="stars"><i></i>
							  <input type="radio" name="starForm" value="3" ng-model="stars"><i></i>
							  <input type="radio" name="starForm" value="4" ng-model="stars"><i></i>
							  <input type="radio" name="starForm" value="5" ng-model="stars"><i></i>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="commentForm">Comentario</label>
						<textarea class="form-control" name="comment" id="commentForm" cols="30" rows="4" ng-model="comment" required></textarea>
					</div>
					<div class="form-group">
						<label for="dateForm">Fecha</label>
						<input class="form-control" id="dateForm" type="text" ng-model="date" placeholder="Fecha" required>
					</div>
					<div class="form-group">
						<label for="comentatorForm">Comentarista</label>
						<input class="form-control" id="comentatorForm" type="text" ng-model="comentator" placeholder="Comentarista" required>
					</div>
					<div class="form-group">
						<button ng-disabled="comentarioForm.$invalid" ng-click="agregarComentario()" class="btn btn-warning btn-block">Comentar</button>
					</div>
				</form>
				<div class="form-group">
					<button ng-click="limpiarComentario()" class="btn btn-default btn-block">Limpiar Campos</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="search">
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanden="false">
						Criteria: {{criteria}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="criteria='Any'; search = {};">Any</a></li>
						<li><a ng-click="criteria='Product/Service'; search = {};">Product/Service</a></li>
						<li><a ng-click="criteria='Comment'; search = {};">Comment</a></li>
						<li><a ng-click="criteria='Owner'; search = {};">Owner</a></li>		
					</ul>
				</div>
				<input ng-show="criteria==='Any'" type="text" class="searchInput form-control" placeholder="Search..." ng-model="search.$">
				<input ng-show="criteria==='Product/Service'" type="text" class="searchInput form-control" placeholder="Search..." ng-model="search.votated">
				<input ng-show="criteria==='Comment'" type="text" class="searchInput form-control" placeholder="Search..." ng-model="search.comment">
				<input ng-show="criteria==='Owner'" type="text" class="searchInput form-control" placeholder="Search..." ng-model="search.comentator">
				<span class="input-group-btn">
					<button class="btn btn-warning" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>

		<div class="page-header">
			<h1>Comentarios</h1>
		</div>

		<!-- Muestra en caso de que el input "votated" no esté vacío -->
		<div ng-show="votated || stars || comment" class="col-md-6">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Product/Service: </strong>{{votated}}</h3>
				</div>
				<div class="panel-body panel-fixed-size">
					<p>
						<span class="star-rating">
							<input type="radio" name="panelForm" value="1" ng-model="stars" disabled="disabled"><i></i>
							<input type="radio" name="panelForm" value="2" ng-model="stars" disabled="disabled"><i></i>
							<input type="radio" name="panelForm" value="3" ng-model="stars" disabled="disabled"><i></i>
							<input type="radio" name="panelForm" value="4" ng-model="stars" disabled="disabled"><i></i>
							<input type="radio" name="panelForm" value="5" ng-model="stars" disabled="disabled"><i></i>
						</span> <strong>{{stars}}</strong>
					</p>
					<p><strong>Comment: </strong>{{comment}}</p>
					<p><strong>Date: </strong>{{date}}</p>
				</div>
				<div class="panel-footer"><footer><strong>Comentador: </strong>{{comentator}}</footer></div>
			</div>
		</div>

		<!-- Listado de comentarios en el arreglo -->
		<div ng-repeat="item in data | filter:search | orderBy:'-date'" class="col-md-6">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Product/Service: </strong>{{item.votated}}</h3>
				</div>
				<div class="panel-body panel-fixed-size">
					<p>
						<span class="star-rating">
							<input type="radio" name="{{index}}" value="1" ng-model="item.stars" disabled="disabled"><i></i>
							<input type="radio" name="{{index}}" value="2" ng-model="item.stars" disabled="disabled"><i></i>
							<input type="radio" name="{{index}}" value="3" ng-model="item.stars" disabled="disabled"><i></i>
							<input type="radio" name="{{index}}" value="4" ng-model="item.stars" disabled="disabled"><i></i>
							<input type="radio" name="{{index}}" value="5" ng-model="item.stars" disabled="disabled"><i></i>
						</span> <strong>{{item.stars}}</strong>
					</p>
					<p><strong>Comment: </strong>{{item.comment}}</p>
					<p><strong>Date: </strong>{{item.date}}</p>
				</div>
				<div class="panel-footer"><footer><strong>Comentador: </strong>{{item.comentator}}</footer></div>
			</div>
		</div>
	</div>
</div>