<div class="container container-margin">
	<div class="col-md-3" >
		<div id="comentarioForm" class="panel panel-default">
			<div class="panel-heading text-center">
				Agregar Comentario
			</div>
			<div class="panel-body">
				<form name="comentarioForm">
					<div class="form-group">
						<label for="votatedForm">Producto/Servicio</label>
						<div class="input-group">
							<input name="votated" class="form-control" id="votatedForm" type="text" ng-change="select=false;" ng-model="votated" placeholder="Producto/Servicio" required>
							<span class="input-group-btn">
								<button ng-click="crearProducto()" class="btn btn-warning" type="button">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
						</div>
					</div>
					<div id="listita" ng-show="votated && !select" >
						<!--<select ng-model="votatedSelect" ng-options="result.votated for result in data | filter: votated">
							<option value="">Selecciona uno...</option>
						</select>-->
						<ul class="list-group list-fixed" >
							<a href="" ng-repeat="item in products | filter:votated | limitTo:2" ng-click="selected();" class="list-group-item" >{{item.name}}</a>
						</ul>
					</div>
					<div class="form-group">
						<label for="starsForm">Estrellas</label>
						<!--input class="form-control" id="starsForm" type="number" min="0" max="5" ng-model="stars" placeholder="Estrellas" required-->
						<div class="text-center">
							<span class="star-rating">
							  <input type="radio" name="starForm" value="1" ng-model="stars"><i></i>
							  <input type="radio" name="starForm" value="2" ng-model="stars"><i></i>
							  <input type="radio" name="starForm" value="3" ng-model="stars"><i></i>
							  <input type="radio" name="starForm" value="4" ng-model="stars"><i></i>
							  <input type="radio" name="starForm" value="5" ng-model="stars"><i></i>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="commentForm">Comentario</label>
						<textarea class="form-control" name="comment" id="commentForm" cols="30" rows="4" ng-model="comment" required></textarea>
					</div>
					<div class="form-group">
						<label for="dateForm">Fecha</label>
						<input class="form-control" id="dateForm" type="date" ng-model="date" placeholder="Fecha" required>
					</div>
					<div class="form-group">
						<label for="comentatorForm">Comentarista</label>
						<input class="form-control" id="comentatorForm" type="text" ng-model="comentator" placeholder="Comentarista" required>
					</div>
					<div class="form-group">
						<button ng-disabled="comentarioForm.$invalid" ng-click="agregarComentario()" class="btn btn-warning btn-block">Comentar</button>
					</div>
				</form>
				<div class="form-group">
					<button ng-click="limpiarComentario()" class="btn btn-default btn-block">Limpiar Campos</button>
				</div>
			</div>
		</div>

		<div id="productoForm" class="panel panel-default" style="display:none;">
			<div class="panel-heading text-center">
				Agregar Producto/Servicio
			</div>
			<div class="panel-body">
				<form name="productoServicioForm">
					<div class="form-group">
						<label for="votatedProductForm">Producto/Servicio</label>
						<input name="votated" class="form-control" id="votatedProductForm" type="text" ng-model="newVotated" placeholder="Producto/Servicio" required>
					</div>
					<div class="form-group">
						<label for="descriptionProductForm">Descripción</label>
						<textarea class="form-control" name="comment" id="descriptionProductForm" cols="30" rows="4" ng-model="description" required></textarea>
					</div>
					<div class="form-group">
						<label for="dateProductForm">Fecha</label>
						<input class="form-control" id="dateProductForm" type="date" ng-model="productDate" placeholder="Fecha" required>
					</div>
					<div class="form-group">
						<label for="comentatorProductForm">Comentarista</label>
						<input class="form-control" id="comentatorProductForm" type="text" ng-model="comentator" placeholder="Comentarista" required>
					</div>
					<div class="form-group">
						<button ng-disabled="productoServicioForm.$invalid" ng-click="agregarProducto()" class="btn btn-warning btn-block">Agregar</button>
					</div>
				</form>
				<div class="form-group">
					<button ng-click="limpiarProducto()" class="btn btn-default btn-block">Limpiar Campos</button>
				</div>
				<div class="form-group">
					<button ng-click="volveraComentario()" class="btn btn-danger btn-block">Volver</button>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-9">
		<div class="search">
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanden="false">
						Criteria: {{criteria}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="criteria='Any'; search = {};">Any</a></li>
						<li><a ng-click="criteria='Product/Service'; search = {};">Product/Service</a></li>
						<li><a ng-click="criteria='Comment'; search = {};">Comment</a></li>
						<li><a ng-click="criteria='Owner'; search = {};">Owner</a></li>		
					</ul>
				</div>
				<input ng-show="criteria==='Any'" type="text" class="searchInput form-control" placeholder="Search comments..." ng-model="search.$">
				<input ng-show="criteria==='Product/Service'" type="text" class="searchInput form-control" placeholder="Search comments..." ng-model="search.votated">
				<input ng-show="criteria==='Comment'" type="text" class="searchInput form-control" placeholder="Search comments..." ng-model="search.comment">
				<input ng-show="criteria==='Owner'" type="text" class="searchInput form-control" placeholder="Search comments..." ng-model="search.comentator">
				<span class="input-group-btn">
					<button class="btn btn-warning" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>

		<div class="radio">
			<label class="radio-inline">
				<input type="radio" name="commentOrProduct" id="inlineRadio1" value="comments" ng-model="radioSearch"> Comments
			</label>
			<label class="radio-inline">
				<input type="radio" name="commentOrProduct" id="inlineRadio2" value="products" ng-model="radioSearch"> Products
			</label>
		</div>
		
		<comentarios></comentarios>
		
		<productos></productos>
		
	</div>
</div>