<div class="jumbotron" id="jumbotron-principal">
	<div class="container">
		<h1>EL JUMBOTRON!</h1>
		<p>Ingrese texto interesante aquí. Wiiii</p>
		<p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">Ingresar ></button></p>
		<!-- esto es una prueba -->
		<div class="star-rating-display-only"><div></div></div>
	</div>
</div>

<!-- De acá, les presento, el modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="loginModalLabel">Iniciar Sesión</h4>
			</div>
			<div class="modal-body">
				<p>ACA VA EL MINIFORM LOGIN!</p>
				<p>OTRO RENGLÓN DEL MINIFORM</p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-default" data-dismiss="modal">Cancelar</a>
				<a class="btn btn-primary" onclick="portadaIngresar()">Ingresar</a>
			</div>
		</div>
	</div>
</div>
