<div ng-show="radioSearch == 'comments'">
	<div class="page-header">
		<h1>Comentarios</h1>
	</div>

	<!-- Muestra en caso de que el input "votated" no esté vacío -->
	<div ng-show="votated || stars || comment" class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Product/Service: </strong>{{votated}}</h3>
			</div>
			<div class="panel-body panel-fixed-size-comment">
				<p>
					<span class="star-rating">
						<input type="radio" name="panelForm" value="1" ng-model="stars" disabled="disabled"><i></i>
						<input type="radio" name="panelForm" value="2" ng-model="stars" disabled="disabled"><i></i>
						<input type="radio" name="panelForm" value="3" ng-model="stars" disabled="disabled"><i></i>
						<input type="radio" name="panelForm" value="4" ng-model="stars" disabled="disabled"><i></i>
						<input type="radio" name="panelForm" value="5" ng-model="stars" disabled="disabled"><i></i>
					</span> <strong>{{stars}}</strong>
				</p>
				<p><strong>Comment: </strong>{{comment}}</p>
				<p><strong>Date: </strong>{{date | date}}</p>
			</div>
			<div class="panel-footer"><footer><strong>Comentador: </strong>{{comentator}}</footer></div>
		</div>
	</div>

	<!-- Listado de comentarios en el arreglo -->
	<div ng-repeat="item in data | filter:search | orderBy:'-date'" class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Product/Service: </strong>{{item.votated}}</h3>
			</div>
			<div class="panel-body panel-fixed-size-comment">
				<p>
					<div class="star-rating-display-only">
						<div style="width:{{item.stars * 20}}%;"></div>
						<!--input type="radio" name="{{index}}" value="1" ng-model="item.stars" disabled="disabled"><i></i>
						<input type="radio" name="{{index}}" value="2" ng-model="item.stars" disabled="disabled"><i></i>
						<input type="radio" name="{{index}}" value="3" ng-model="item.stars" disabled="disabled"><i></i>
						<input type="radio" name="{{index}}" value="4" ng-model="item.stars" disabled="disabled"><i></i>
						<input type="radio" name="{{index}}" value="5" ng-model="item.stars" disabled="disabled"><i></i-->
					</div> <strong>{{item.stars}}</strong>
				</p>
				<p><strong>Comment: </strong>{{item.comment}}</p>
				<p><strong>Date: </strong>{{item.date | date}}</p>
			</div>
			<div class="panel-footer"><footer><strong>Comentador: </strong>{{item.comentator}}</footer></div>
		</div>
	</div>
</div>
