<!--div ng-include="'partials/navbar.html'"></div-->

<div class="container container-margin">
	<div class="col-md-2">
		<div class="page-header fixed-height">
			<h3 class="text-center">Mejores Productos</h3>
		</div>
		<div class="row" ng-repeat="item in bestProducts | orderBy:'-avg'">
			<div class="text-center">
				<div class="star-rating-display-only star-rating-one-star">
					<div style="width:{{item.avg * 20}}%">
					</div>
					<div class="star-rating-text">
						<h2 class="star">{{item.avg | number:1}}</h2>
						<h3 class="star"><a href="#/view/{{item.id}}"><span class="label label-warning star">{{item.name}}</span></a></h3>
						<p class="star"><span class="glyphicon glyphicon-user"></span> {{item.comments}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-2 col-md-push-8">
		<div class="page-header fixed-height">
			<h3 class="text-center">Peores Productos</h3>
		</div>
		<div class="row" ng-repeat="item in worstProducts | orderBy:'avg'">
			<div class="text-center">
				<div class="star-rating-display-only star-rating-one-star">
					<div style="width:{{item.avg * 20}}%">
					</div>
					<div class="star-rating-text">
						<h2 class="star">{{item.avg | number:1}}</h2>
						<h3 class="star"><a href="#/view/{{item.id}}"><span class="label label-default star">{{item.name}}</span></a></h3>
						<p class="star"><span class="glyphicon glyphicon-user"></span> {{item.comments}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-md-pull-2">
	<div class="page-header fixed-height">
		<h1 class="text-center">Últimos Comentarios</h1>
	</div>
		<div ng-repeat="item in lastComments | orderBy:'-date'" class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading text-center">
					<a class="nocolor-alink" href="#/view/{{item.votatedId}}"><h3 class="panel-title"><strong></strong>{{item.votated}}</h3></a>
				</div>
				<div class="panel-body panel-fixed-size-mainComment">
					<p>
						<div class="star-rating-display-only">
							<div style="width:{{item.stars * 20}}%;"></div>
						</div> <strong>{{item.stars | number:1}}</strong>
					</p>
					<p class="text-justify"><strong>Comment: </strong>{{item.comment}}</p>
				</div>
				<div class="panel-body">
					<p><strong>Date: </strong>{{item.date | date}}</p>
				</div>
				<div class="panel-footer"><footer><strong>Comentador: </strong>{{item.comentator}}</footer></div>
			</div>
		</div>
	</div>
		
</div>
