body {
	background: url(../img/connect.png);
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

#jumbotron-principal {
	height: 100vh;
	background: url(../img/jumbo.jpg);
	background-size: 100% 100%;
	color: white; 
	text-shadow: 3px 3px 5px #555;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 0px;
}

#jumbotron-principal button.btn {
	text-shadow: none;
}

.lobster-font {
	font-family: 'Lobster', cursive;
}



/* Media Queries para lastComment (viewProduct.html) y maincomment (main.html)

   Solo cuando la vista es tipo desktop, ya que los comentarios
   se dividen en dos columnas, y se desean que sean todos igual
   de altos. */

/* tamaño md */
@media (min-width: 992px) and (max-width: 1199px) {

	.panel-fixed-size-lastComment {
		height: 220px;
	}

	.panel-fixed-size-mainComment {
		height: 180px;
	}

	.page-header.fixed-height {
		height: 75px;
	}
}

/* tamaño lg */
@media (min-width: 1200px) {

	.panel-fixed-size-lastComment {
		height: 200px;
	}

	.panel-fixed-size-mainComment {
		height: 160px;
	}

	.page-header.fixed-height {
		height: 75px;
	}

}

/*.panel-fixed-size-lastComment {
	height: 210px;
}*/

.panel-fixed-size-product {
	height: 140px;
}

.container-margin {
	margin-top: 70px;
}

.list-fixed{
	position: relative;
top: -15px;
}

h2.star {
	margin-top: 40px;
	margin-bottom: 0px;
	font-weight: bold;
}

h3.star {
	margin-top: 0px;
	margin-bottom: 0px;
}

p.star {
	margin-top: 0px;
}

span.label.star {
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	max-width: 150px;
}

div.col-margin-15 {
	margin-top: 15px;
}

.angular-google-map-container {
	height: 400px;
}

.color-grey {
	color: gray;
}

.nocolor-alink,
.nocolor-alink:hover,
.nocolor-alink:visited{
	color: inherit;
	text-decoration: none;
}

.nocolor-alink:hover{
	text-shadow: 0px 0px 1px #555;
}

ul.nav.nav-pills > li {
	cursor: pointer;
	font-weight: bold;
}

.btn {
	font-weight: bold;
}

.navbar li {
	font-weight: bold;
}

.panel p {
	word-wrap:break-word;
}

.page-header {
	border-color: #48C9B0;
}

/* ANIMATIONS */

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}